<!DOCTYPE html>
<html>
<head>
  <title> Crédito Fiscal</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 20px;
    }

    div {
      flex: 1;
    }

    #header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
    }

    #logo {
      max-width: 150px;
    }

    #company-info {
      text-align: center;
    }

    #fiscal-info {
      text-align: right;
    }

    #additional-info {
      text-align: left;
      margin-top: 10px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    th, td {
      border: 1px solid black;
      padding: 5px;
      text-align: center;
    }

  </style>
</head>
<body>
  <div id="header">
    <div>
      <img id="logo" src="./logo/logocabal.jpeg" alt="Logo de la empresa"><br>
    </div>
    <div id="company-info" style="line-height: 1;">
        <h2>GRUPO PERMIMA, S.A. DE C.V.</h2>
        <p>GIRO: ACTIVIDADES DE TELECOMUNICACIÓN N.C.P</p>
        <p>CONSULTORIAS Y GESTIÓN DE SERVICIOS INFORMÁTICOS</p>
        <p>Centro Comercial La Gran Via, Edificio 6, Local 2</p>
        <p>Antiguo Cuscatlán, La Libertad</p>
        <p>Tel.: 2206-7100</p>
      </div><br>
      
    <div id="fiscal-info">
      <H4>COMPROBANTE DE CRÉDITO FISCAL</H4>
      <p>Registro N°: XXXX</p>
      <p>Cliente: XXXXX</p>
      <p>NIT: XXXX</p>
      <p>Vendedor: XXXXX</p>
    </div>
  </div>

  <table>
    <thead>
      <tr>
        <th>CANT.</th>
        <th style="width: 700px;">DESCRIPCION</th>
        <th>PRECIO UNITARIO</th>
        <th>VTAS. NO SUJETAS</th>
        <th>VENTAS EXENTAS</th>
        <th>VENTAS AFECTAS</th>
      </tr>
    </thead>
    <tbody>
      <tr style="height: 30px; width: 200px;">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr style="height: 30px; width: 200px;">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr style="height: 30px; width: 200px;">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr style="height: 30px; width: 200px;">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr style="height: 30px; width: 200px;">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr style="height: 30px; width: 200px;">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr style="height: 30px; width: 200px;">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr style="height: 30px; width: 200px;">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr style="height: 30px; width: 200px;">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr style="height: 30px; width: 200px;">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr style="height: 30px; width: 200px;">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr style="height: 30px; width: 200px;">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>

    <td></td>
        <td></td>
        <td style="text-align: left">SUMAS</td>
        <td ></td>
        <td></td>
        <td></td>
      </tbody>
      <tbody style="height: 30px; width: 200px">
        <td></td>
        <td ></td>
        <td colspan="2", style="text-align: left;">13% DE IVA</td>
        <td style="background-color: #98c8ab;"></td>
        <td></td>
      </tbody>
      <tbody style="height: 30px; width: 200px">
        <td ></td>
        <td></td>
        <td colspan="2", style="text-align: left">SUB TOTAL</td>
        <td style="background-color:  #98c8ab"></td>
        <td></td>
      </tbody>
      <tbody style="height: 30px; width: 200px">
        <td></td>
        <td></td>
        <td colspan="2", style="text-align: left">(-) IVA RETENIDO</td>
        <td style="background-color:  #14f16c;"></td>
        <td></td>
      </tbody>
      <tbody style="height: 30px; width: 200px">
        <td></td>
        <td></td>
        <td colspan="2", style="text-align: left">VENTAS NO SUJETAS</td>
        <td style="background-color:  #98c8ab;"></td>
        <td></td>
      </tbody>
      <tbody style="height: 30px; width: 200px">
        <td ></td>
        <td></td>
        <td colspan="2", style="text-align: left">VENTAS EXENTAS</td>
        <td style="background-color:  #98c8ab;"></td>
        <td></td>
      </tbody>
      <tbody style="height: 30px; width: 200px,">
        <td></td>
        <td></td>
        <td colspan="2" style="text-align: left">VENTA TOTAL</td>
        <td style="background-color:  #98c8ab;"></td>
        <td></td>
    
  </table>
  
  
</body>
</html>
